
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 98%;
    --foreground: 178 19% 42%;

    --card: 0 0% 100%;
    --card-foreground: 178 19% 42%;

    --popover: 0 0% 100%;
    --popover-foreground: 178 19% 42%;

    --primary: 178 19% 42%;
    --primary-foreground: 36 86% 92%;

    --secondary: 0 63% 73%;
    --secondary-foreground: 36 86% 92%;

    --muted: 37 33% 93%;
    --muted-foreground: 178 19% 52%;

    --accent: 9 80% 89%;
    --accent-foreground: 0 63% 33%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 36 33% 98%;

    --border: 37 33% 88%;
    --input: 37 33% 88%;
    --ring: 178 19% 42%;

    --radius: 0.5rem;

    --sidebar-background: 36 86% 92%;
    --sidebar-foreground: 178 19% 42%;
    --sidebar-primary: 178 19% 42%;
    --sidebar-primary-foreground: 36 86% 92%;
    --sidebar-accent: 9 80% 89%;
    --sidebar-accent-foreground: 0 63% 33%;
    --sidebar-border: 37 42% 87%;
    --sidebar-ring: 178 19% 42%;
  }

  .dark {
    --background: 178 19% 12%;
    --foreground: 36 86% 92%;

    --card: 178 19% 16%;
    --card-foreground: 36 86% 92%;

    --popover: 178 19% 16%;
    --popover-foreground: 36 86% 92%;

    --primary: 178 19% 42%;
    --primary-foreground: 178 19% 12%;

    --secondary: 0 63% 73%;
    --secondary-foreground: 178 19% 12%;

    --muted: 178 19% 26%;
    --muted-foreground: 178 19% 76%;

    --accent: 9 50% 40%;
    --accent-foreground: 36 86% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 36 86% 92%;

    --border: 178 19% 26%;
    --input: 178 19% 26%;
    --ring: 178 19% 42%;

    --sidebar-background: 178 19% 16%;
    --sidebar-foreground: 36 86% 92%;
    --sidebar-primary: 0 63% 73%;
    --sidebar-primary-foreground: 178 19% 12%;
    --sidebar-accent: 9 50% 40%;
    --sidebar-accent-foreground: 36 86% 92%;
    --sidebar-border: 178 19% 26%;
    --sidebar-ring: 0 63% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
